<!doctype html>
<html layout:decorate="~{layout/layout.html}">
<head>
  <title>글 수정</title>
</head>
<body>
<script>
  function ModifyForm__submit(form) {
    form.title.value = form.title.value.trim();
    if(form.title.value.length === 0) {
      alert('제목을 입력해주세요.');
      form.title.focus();
      return;
    }

    form.content.value = form.content.value.trim();
    if(form.content.value.length === 0) {
      alert('내용을 입력해주세요.');
      form.content.focus();
      return;
    }

    form.submit();
  }
</script>

<section layout:fragment="content">
  <div class="container mx-auto">
    <form th:action method="POST" enctype="multipart/form-data" onsubmit="ModifyForm__submit(this); return false;">
      <div>
        <span>제목</span>
        <input type="text" name="title" th:value="${article.title}">
      </div>
      <div>
        <span>내용</span>
        <textarea name="content" th:text="${article.content}"></textarea>
      </div>
      <div>
        <div>
          <span>본문 이미지</span>
        </div>
        <th:block th:each="i : ${#numbers.sequence(1, 5)}" th:with="genFile=${article.extra.genFileMap.get('common\_\_contentImg\_\_' + i)}">
          <div>
            <th:block th:if="${genFile != null}">
              <hr>
              <span th:text="|${i}번 이미지|"></span>
              <div>
                <a th:href="${genFile.url}" target="_blank">
                  <img class="w-20 h-20 object-cover rounded" title="새창에서 크게 보기" th:src="${genFile.url}" alt="상세 이미지">
                </a>
                <label>
                  <input type="checkbox" value="Y" th:name="|delete___common\_\_contentImg\_\_${i}|">
                  <span>이미지 삭제</span>
                </label>
              </div>
              <div>
                <input type="file" th:name="|common\_\_contentImg\_\_${i}|" accept="image/png, image/jpeg, image/jpg, image/gif">
              </div>
            </th:block>
          </div>
        </th:block>
        <div>
          <button type="button">이미지 더 첨부하기</button>
        </div>
      </div>
      <div>
        <span>글 수정</span>
        <input type="submit" value="수정">
      </div>
    </form>
  </div>
</section>
</body>
</html>